[Unit]
Description=Aedge All
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=30
User=toor
Environment=PATH=/usr/share/chia/aedge-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env aedge start all
ExecReload=/usr/bin/env aedge start all -r
ExecStop=/usr/bin/env aedge stop all -d

[Install]
WantedBy=multi-user.target
