[Unit]
Description=Chiadogecoin All
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=30
User=toor
Environment=PATH=/usr/share/chia/chiadogecoin/venv/bin:${PATH}
ExecStart=/usr/bin/env chiadoge start all
ExecReload=/usr/bin/env chiadoge start all -r
ExecStop=/usr/bin/env chiadoge stop all -d

[Install]
WantedBy=multi-user.target
