[Unit]
Description=Goji All
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User=toor
Environment=PATH=/usr/share/chia/goji-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env goji start all
ExecReload=/usr/bin/env goji start all -r
ExecStop=/usr/bin/env goji stop all -d

[Install]
WantedBy=multi-user.target