[Unit]
Description=Silicoin All
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User=toor
Environment=PATH=/usr/share/chia/silicoin-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env silicoin start all
ExecReload=/usr/bin/env silicoin start all -r
ExecStop=/usr/bin/env silicoin stop all -d

[Install]
WantedBy=multi-user.target