[Unit]
Description=Socks All
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=30
User=toor
Environment=PATH=/usr/share/chia/socks-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env socks start all
ExecReload=/usr/bin/env socks start all -r
ExecStop=/usr/bin/env socks stop all -d

[Install]
WantedBy=multi-user.target