[Unit]
Description=Apple Harvester
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=30
User=toor
Environment=PATH=/usr/share/chia/apple-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env apple start harvester
ExecReload=/usr/bin/env apple start harvester -r
ExecStop=/usr/bin/env apple stop all -d

[Install]
WantedBy=multi-user.target