[Unit]
Description=Flora Harvester
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=30
User=toor
Environment=PATH=/usr/share/chia/flora-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env flora start harvester
ExecReload=/usr/bin/env flora start harvester -r
ExecStop=/usr/bin/env flora stop all -d

[Install]
WantedBy=multi-user.target