[Unit]
Description=Chiadogecoin Harvester
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=30
User=toor
Environment=PATH=/usr/share/chia/kale-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env kale start harvester
ExecReload=/usr/bin/env kale start harvester -r
ExecStop=/usr/bin/env kale stop all -d

[Install]
WantedBy=multi-user.target