[Unit]
Description=Apple Harvester
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User=toor
Environment=PATH=/usr/share/chia/lucky-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env lucky start harvester
ExecReload=/usr/bin/env lucky start harvester -r
ExecStop=/usr/bin/env lucky stop all -d

[Install]
WantedBy=multi-user.target
