[Unit]
Description=Mogua Harvester
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User=toor
Environment=PATH=/usr/share/chia/mogua-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env mogua start harvester
ExecReload=/usr/bin/env mogua start harvester -r
ExecStop=/usr/bin/env mogua stop all -d

[Install]
WantedBy=multi-user.target