[Unit]
Description=Sector Harvester
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=30
User=toor
Environment=PATH=/usr/share/chia/sector-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env sector start harvester
ExecReload=/usr/bin/env sector start harvester -r
ExecStop=/usr/bin/env sector stop all -d

[Install]
WantedBy=multi-user.target