[Unit]
Description=Silicoin Harvester
Wants=network-online.target
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User=toor
Environment=PATH=/usr/share/chia/silicoin-blockchain/venv/bin:${PATH}
ExecStart=/usr/bin/env sit start harvester
ExecReload=/usr/bin/env sit start harvester -r
ExecStop=/usr/bin/env sit stop all -d

[Install]
WantedBy=multi-user.target